services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.develop
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - ./.air.toml:/app/.air.toml
    environment:
      - PORT=8080
